## afin de ne pas versionner mon fichier terraform.tfvars##

/terraform.tfvars/.terraform

*.tfvars

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Log files
*.log

#Cle aws

*.pem
*.ppk

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json